/*---- NF070 -----*/

* {
	margin: 0;
	padding: 0;
}

html, body {
	scrollbar-track-color: #FFF;
	scrollbar-face-color: #FFF;
	scrollbar-shadow-color: #FFF;
	scrollbar-darkshadow-color: #D4D9E2;
	scrollbar-highlight-color: #FFF;
	scrollbar-3dlight-color: #D4D9E2;
	scrollbar-arrow-color: #C0C6DD;
}

html {
	overflow-y: scroll;
}

body {
	line-height: 1.6;
	color: #888;
	font-size: 83.3%;
	font-family: Verdana, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
	background-image: url(img/bg-square010_6.gif), linear-gradient(to bottom right, C0E9E2, F0FAF8);
	background-position: left top, left top;
	background-repeat: repeat, repeat;
}
}

a {
	text-decoration: none;
}

a:link {
	color: #86BEF2;
}

a:visited {
	color: #86BEF2;
}

a:hover {
	color: #5AA0E1;
	text-decoration: underline;
}

a:active {
	color: #5AA0E1;
}

h1, h2 {
	font-weight: normal;
}

h1 {
	color: #FFF;
	font-size: 250%;
	font-family: "Century Gothic", "Lucida Sans Unicode", Tahoma, Arial, Sans-Serif;
}
	h1 a:link {color: #FFF;}
	h1 a:visited {color: #FFF;}

h2 {
	color: #86BEF2;
	font-size: 77%;
	font-weight: normal;
}

h3 {
	padding-left: 15px;
	color: #999;
	font-size: 100%;
	font-family: Arial, Helvetica, sans-serif;
	background: url(stripe022.gif) 0% 25%;
}

h4, h5, h6 {
	font-size: 100%;
}

p {
	margin: 0 0 1em 0;
}

br {
	letter-spacing: normal;
}

em {
	color: #A91626;
	font-style: normal;
}

strong {
	color: #666;
	font-weight: bold;
}

big {
	font-size: 131%;
}

small {
	font-size: 77%;
}

ins {
	text-decoration: underline;
}

del {
	color: #CCC;
	text-decoration: line-through;
}

b {
	font-weight: bold;
}

i {
	font-style: oblique;
}

address, cite {
	font-style: normal;
}

code {
	font-family: monospace;
}

table {
	margin: 0 0 1em 0;
	border-collapse: collapse;
	border-spacing: 0;
}

th, td {
	padding: 2px 5px;
	border: 1px solid #DFDFDF;	
}

hr {
	display: none;
}
	.line {
		padding-top: 30px;
	}

	.clears {
		clear: both;
		padding: 0 0 1em 0;
	}

img {
	border:0;
}

	.img_right {
		float: right;
		margin: 0 0 0 10px;
		padding: 5px;
		border: 1px solid #DFDFDF;
		background: #FFF;
	}

	.img_left {
		float: left;
		margin: 0 10px 0 0;
		padding: 5px;
		border: 1px solid #DFDFDF;
		background: #FFF;
	}

blockquote {
	margin: 0 0 1em 30px;
	padding: 5px 10px;
	border: 1px solid #DFDFDF;
	background: #F0F0F0;
}

input, select, textarea {
	margin: 2px 0;
	width: 50%;
	border: 1px solid #DFDFDF;
	color: #888;
	font-size: 100%;
	font-family: Verdana, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
	background: #F0F0F0;
}

textarea {
	width: 90%;
}

input.button {
	width: 90px;
	vertical-align: middle;
}

div#out {
	margin: 20px auto 0 auto;
	width: 770px;
}

div#header {
	margin-bottom: 25px;
	padding: 50px 0 0 30px;
	height: 130px;
	border-top: solid 2px #EEE;
	border-right: solid 2px #EEE;
	border-left: solid 2px #EEE;
	background: #EEE url(css_sora021.jpg) no-repeat center;
}

div#main_column {
	float: left;
	width: 540px;
}

div#sidebar {
	float: right;
	width: 210px;
	overflow: hidden;
}

div#sidebar ul {
	margin-bottom: 10px;
}

div#sidebar ul li {
	list-style: none;
	padding-left: 20px;
	line-height: 1.8;
	background: url(p_arrow006_008.gif) no-repeat center left;
}

div.write {
	padding: 15px;
}

div.write ul, div.write ol {
	margin: 0 0 1em 15px;
}

div.write ul li {
	list-style: circle inside;
}

div.write ol li {
	list-style: decimal;
	margin: 0 0 0 20px;
}

div.write ul.parallel {
	margin: 0;
}

ul.parallel li {
	display: inline;
	list-style: none;
}

ul.parallel li img {
	margin:0 2px 3px 0;
}

dl {
	margin: 0 0 1em 0;
}

dt {	}

dd {
	margin: 0 0 5px 15px;
}

dl.parallel dt {
	width: 120px;
	line-height: 1.6;
}

dl.parallel dd {
	margin: -1.6em 0 5px 120px;
	padding: 0 0 0 15px;
}

p.info {
	margin: 0 0 1em 0;
	padding: 2px 10px 0 0;
	height: 80px;
	overflow: auto;
	border: 0;
}

.deco {
	line-height: 22px;
	background: url("line001.gif") left top;
}

img.deco {
	padding: 5px;
	border: 1px solid #DFDFDF;
	background: #FFF;
}

.page_navi li {
	list-style: none;
	padding-right: 10px;
	text-align: right;
}

div#menu {	}

div#menu li {
	list-style: none;
}

div#menu li a {
	display: block;
	width: 100%;
	border-bottom: 1px dotted #FFF;
}

div#menu li a:hover {
	border-bottom: 1px solid #FFF;
	color: #5AA0E1;
	text-decoration: none;
}

div#footer {
	clear: both;
	text-align: right;
}

div#footer li {
	display: inline;
	list-style: none;
	padding-left: 5px;
}

#copy, #copy a {
	font-size: 11px;
	font-family: Arial, Helvetica, Sans-Serif;
}

#entrance {
	margin: 50px auto 0 auto;
	padding: 0 0 0 30px;
	width: 60%;
}
